{
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 2018,
    },
    "rules": {
        "indent": [2, 4],
        "no-param-reassign": 0,
        "arrow-parens": [2, "as-needed"],
        "object-curly-newline": 0,
        "no-plusplus": 0
    },
    "env": {
        "browser": true,
    }
}
